<div class=" bg-white rounded-lg shadow-md overflow-hidden border border-gray-200">
  <img class="w-full h-48 object-cover" [src]="character.image" alt="Character Image" />
  <div class="p-4">
    <h2 class="text-lg font-semibold text-gray-800">Name: <span class="font-normal">{{ character.name }}</span></h2>
    <p class="text-gray-600">Status: <span class="font-normal">{{ character.status }}</span></p>
  </div>
  <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="triggerOpenModal()">Details</button>
</div>