<div class="mt-5 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 px-5">
  <app-card *ngFor="let character of characters" [character]="character"></app-card>
</div>
<p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"
  (onPageChange)="onPageChange($event)"></p-paginator>

<button pButton type="button" label="Open Modal" (click)="openModal()"></button>

<app-modal [showModal]="showModal" (closeModal)="closeModal()">
  <h2>Modal Title</h2>
  <p>Some content for the modal goes here.</p>
</app-modal>