<div class="sidebar">
  <h2>Search</h2>
  <input type="text" placeholder="Search..." />

  <h3>Filters</h3>

  <div class="filter-group">
    <h4>Status</h4>
    <label>
      <input type="radio" name="status" value="alive" />
      Alive
    </label>
    <label>
      <input type="radio" name="status" value="dead" />
      Dead
    </label>
    <label>
      <input type="radio" name="status" value="unknown" />
      Unknown
    </label>
  </div>

  <div class="filter-group">
    <h4>Species</h4>
    <label>
      <input type="checkbox" name="species" value="human" />
      Human
    </label>
    <label>
      <input type="checkbox" name="species" value="alien" />
      Alien
    </label>
    <label>
      <input type="checkbox" name="species" value="robot" />
      Robot
    </label>
  </div>

  <div class="filter-group">
    <h4>Gender</h4>
    <label>
      <input type="radio" name="gender" value="male" />
      Male
    </label>
    <label>
      <input type="radio" name="gender" value="female" />
      Female
    </label>
    <label>
      <input type="radio" name="gender" value="unknown" />
      Unknown
    </label>
  </div>
</div>